<footer>     
      
  <a href="index">&copy; ISSO-UNCC</a>
  <a href="/about">About</a>
  <a href="contactus">Contact</a>
  <div class="footer-icons">
    <a href="index"><i class="fa fa-facebook"></i></a>
    <a href="index"><i class="fa fa-twitter"></i></a>
    <a href="index"><i class="fa fa-instagram"></i></a>
    <a href="index"><i class="fa fa-linkedin"></i></a>
    <a href="index"><i class="fa fa-youtube"></i></a>
</div>    
      
</footer>
</body>
</html>