<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ISSO UNCC</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
<header class="banner">
  <h1><a href="/index"><img src="/images/uncc.png" height="50" alt="Logo"></a> &emsp;ISSO-UNCC</h1>
  <div class="inbanner">
    <a href="/newConnection">Create Event</a>
    <a href="/index">Login</a>
    <a href="/index">Sign Up</a>
  </div>
  <p>International Student and Scholar Office at University Of North Carolina at Charlotte</p>
</header>
<nav>
  <ul>
    
    <li><a href="/connections">Week's Events</a></li>
  </ul>
</nav>
