<!DOCTYPE html>
<html>
	<head>
		<title>Contact US</title>
		<link rel="stylesheet" href="/public/css/styles.css">
		<meta charset="UTF-8">
	</head>
	<body>
		<%- include("./partials/header.ejs") %>
		<div class="articles">		
            <h2>Contact Us</h2>	<p>&nbsp;</p>
			<p>9201 University City Blvd</p>
			<p>Woodward Hall 306</p>
			<p>Charlotte, NC 28223</p>
			<p>United States</p>
			<p>Contact Email: isso@uncc.edu</p>
			<p>Phone Number: 704-123-4567</p>
		</div>
		<%- include("./partials/footer.ejs") %>
	</body>
</html>