<%- include("./partials/header.ejs") %>
    
    <main>
      <section>
        <h2>International Student and Scholar Office at UNC Charlotte</h2>
        <article>
          
            <h3>About ISSO</h3><br>
            <p>The mission of the International Student and Scholar Office is to provide information, services and programs that help international students and visiting scholars achieve their individual educational and personal goals and that foster an appreciation for a culturally diverse learning environment in the larger University community.</p>
          
        </article>

        <article>
          <header>
            <h3>Announcements</h3><br>
            <p>Register for OPT session</p>
          </header>
        </article>
      </section>
    </main>
<%- include("./partials/footer.ejs") %>
