@charset "UTF-8";

html, body, h1, h2, h3, ul, li, a, p, 
article, aside, footer, header, main, nav, section {
  padding: 0;
  margin: 0;
}

.page-header .logo{
  position: absolute;
  width: 100%;
	float: left;
	padding-top: 23px;
	/* box-sizing: border-box;  */
}

.banner {
  width: 100%;
  position: absolute;
  background-color: rgb(199, 209, 54);
  padding-bottom: 20px;
  color: white;
}

.inbanner {
	float: right;
  color: white;
  }

body {
  position: absolute;
  width: 100%; 
  /* margin-left: auto;
  margin-right: auto; */
  background-color: #f0f0f0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

nav {
  position: relative;
  width: 100%;
  background-color: rgb(76, 161, 6);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 92px;
  color: white;
}

li a {
  color: white;
}



li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
}

section {
  /* background-color:whitesmoke; */
  /* position:absolute; */
  /* width:100%; */
  color: black;
  margin-top: 80px; 
  margin-left: 100px;
 padding: 10px 15px; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.articles{
  padding: 40px 100px;
}


li{

	list-style-type: none;
}

li a.event.link{color:#ff0000;}
li a.event:visited {color:#0000ff;}
li a.event:hover {font-size:150%;}

/* li a{
  color: blue;
	text-decoration: none;
} */

.conn{
  color: blue;
	text-decoration: none;
}


.buttons{
  float: right;
}

.articles{
  padding: 40px 100px;
}

article {
  background-color: white;
  margin-top: 5px;
  padding: 10px 15px;
}

main {
  width: 840px;
  /* margin-bottom: 350px; */
}


.footer-icons {
	float: right;
  }

  table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
  }
  
  tr:nth-child(even) {
	background-color: #dddddd;
  }


footer {
  clear: both;
	position:fixed;
  width: 100%;
	bottom:0;
	left:0;
	height: 30px;
  padding-bottom: 5px;
  margin-top: 100px;
  padding-top: 5px;
	background-color: rgb(76, 161, 6);
  }
